/* Group Briefs */
.brief-type-terms-container {
    display: flex;
    gap: 15px;
}
/* brief cards */
.brief-type-term {
    flex: 1;
    align-items: center;
    text-align: center;
    padding: 20px 80px 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: solid 1px #e7e9ec;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
}
.brief-type-term-link {
    text-decoration: none;
}
@media (max-width: 768px) {
    .brief-type-term {
        flex-direction: column;
        width: 100%;
    }
    .brief-type-terms-container {
        display: block;
    }
}
.brief-type-term:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}