/* Enable sticky */
#page{
  overflow-x: clip;
}

.buddyc-checkout-details-container {
    border-radius: 10px;
    border: solid 1px #e7e9ec;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 300;
}

.buddyc-checkout-loading-indicator {
    display: none;
}

.buddyc-working-message {
    text-align: center;
    font-style: italic;
    color: gray;
}

.buddyc-checkout-table {
    border-collapse: collapse;
    width: 100%;
}

td.buddyc-checkout-footer-border::after {
    content: "";
    display: block;
    width: 70%; /* Shorter width */
    border-top: solid #D4D6D8 1px;
    margin: auto;
}

.buddyc-checkout-table buddyc-checkout-total-label {
    text-align: right;
}

.buddyc-checkout-table th,
.buddyc-checkout-table td {
    border: none;
    padding: 15px 8px;
}

.buddyc-checkout-table tfoot th,
.buddyc-checkout-table tfoot td {
    color: #000;
}
.buddyc-checkout-total {
    font-size: 32px;
    font-weight: 600;
}

.buddyc-test-mode-tag {
    display: inline-block; /* Make the tag only as wide as the content */
    padding: 8px 15px; /* Adjust padding as desired */
    border-radius: 5px;
    font-size: 14;
    font-weight: 500;
    background-color: #f9edbf; /* Set the base background color */  
    color: #9b3617;
}
.buddyc-test-instructions {
    color: gray;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #e7e9ec;
    max-width: 800px;
}
#free-checkout-submit:disabled {
    cursor: not-allowed;
}
#buddyc-create-account-success p {
    border-radius: 10px;
    border: solid 1px #e7e9ec;
    background-color: #ffffff;
    padding: 25px;
    margin: 20px 0;
}