/* Forms */
#bc-create-account-form .bc-form-group-container,
#bc-checkout-terms-form .bc-form-group-container {
    padding: 0;
}

#bc-create-account-form,
#bc-checkout-terms-form {
    margin: 0;
    padding: 0;
}