/** Admin CSS **/

/** Booking Intent Actions **/
.buddyc-admin-booking-action {
    width: 10px;
    display: inline-block; /* Ensures the span takes up space */
    margin: 0 5px; /* Adjusts spacing between spans */
}

/** Admin Table Mobile CSS **/
@media screen and (max-width: 768px) {

    .buddyc-admin-table-mobile-row {
        clear:both;
    }

    .buddyc-admin-table-header:not(.column-primary) {
        display: none;
    }

    .buddyc-admin-table-cell:not(.column-primary) {
        display: none;
    }

    .buddyc-expand-button-heading {
        max-width: 50px;
        text-align: right;
    }

    .buddyc-expand-button-cell {
        max-width: 50px;
        text-align: right;
        margin: 0 10px;
    }

    .buddyc-expand-button {
        margin: 0 10px;
        color: black;
        cursor: pointer;
    }
}

/* Admin Table Desktop */
@media screen and (min-width: 768px) {
    .buddyc-expand-button-heading,
    .buddyc-expand-button-cell,
    .buddyc-expand-button {
        display: none;
    }
}


/** BuddyClients Icon **/
.dashicons-buddyclients {
    background-image: url('../media/buddyclients-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.dashicons-buddyclients-dark {
    background-image: url('../media/buddyclients-icon-color.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

/* Admin table */
.margin-3 {margin: 0 3px !important}

/* Grouped Meta Boxes */
table.buddyc-postbox-table {
    background: #f9f9f9;
    margin-top: 22px;
    border-radius: 3px;
}

.buddyc-meta-field {
    width: 100%
}

/* Non Gutenburg Meta Boxes */
.buddyc-meta-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
}

.buddyc-meta-container input:not([type="checkbox"]),
.buddyc-meta-container select {
    /* Make input fields and select dropdowns take up available space */
    flex: 1;
    /* Optionally, add additional styling properties as needed */
    width: 100%; /* Ensure the input fields and select dropdowns take up the entire width */
    margin-top: 5px;
}

.buddyc-meta-status-icon {
    margin-right: 5px;
    margin-top: 3px;
}

.buddyc-meta-description {
    flex-basis: 100%; /* Force description onto a new line */
    margin-bottom: 10px;
}

.buddyc-admin-col-head-status {
    width: 10%;
}

/* Update Booking Status Icon */
.buddyc-update-booking-icon {
    margin-left: 5px;
}

/* Booking Status */
.buddyc-admin-booking-status {
    white-space: nowrap;
    margin-right: 10px;
}

/* Freelancer Mode Message */
.buddyc-freelancer-mode-message {
    margin: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    width: 50%;
    border: var(--buddyclients-default-border);
}
.buddyc-freelancer-mode-message p {
    font-size: 16px;
}

/* Upgrade Message */
.buddyc-upgrade-link-container {
    margin: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    width: 50%;
    border: var(--buddyclients-default-border);
}
.buddyc-upgrade-link {
    font-size: 16px;
}
.buddyc-upgrade-link i {
    color: #037AAD;
    margin-right: 5px;
}

.buddyclients-settings-section {
    background-color: #fff;
    padding: 20px;
    border: solid 1px #D4D6D8;
    border-radius: 10px;
    margin: 25px;
}

.buddyclients-settings-section-title-wrap {
    margin: 10px;
}

.buddyclients-settings-section-title {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 20px;
}

.buddyclients-settings-section-title-divider {
    color: #D4D6D8;
    margin: 20px 0;
}

.buddyclients-admin-field {
    margin-bottom: 15px;
}

.buddyclients-admin-field > label {
    display: inline-block;
    width: 200px; /* Adjust the width as needed */
    font-weight: bold; /* Optionally make labels bold */
}

.buddyclients-admin-field-input-wrap > input,
.buddyclients-admin-field-input-wrap > select {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #b6b8ba;
}

/* Components table */
.buddyc-checkbox-table {
    border-collapse: collapse;
    width: 100%;
}

.buddyc-checkbox-table td {
    border: 1px solid #ccc;
    padding: 8px;
    height: 50px;
}

.buddyc-checkbox-table td:first-child {
    width: 30%;
    border-right: none;
}

.buddyc-checkbox-table td:not(:first-child) {
    border-left: none;
}

/* Style selected row */
.buddyc-checkbox-table tr.checked {
    background-color: #f1f6fb;
    border-left: solid 5px #7face1;
}

/* Hide required checkbox */
.buddyc-checkbox-table tr.required input {
    opacity: 0;
}

.buddyc-checkbox-table label {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.buddyc-checkbox-table .description {
    color: #565656;
}

.buddyc-checkbox-table label input[type="checkbox"] {
    margin: 0 20px 0 10px;
}

.buddyclients-admin-field-input-wrap {
    display: inline-block;
    width: calc(100% - 210px); /* Adjust based on label width */
    vertical-align: top; /* Align input fields with labels */
}

.buddyclients-nav-tab {
    border-radius: 5px 5px 0 0;
}
/* Submenu Separator */
ul.wp-submenu.wp-submenu-wrap li a[href="buddyc-separator"] {
    color: transparent; /* Make the text invisible */
    pointer-events: none; /* Make the link unclickable */
    display: block; /* Ensure it takes up full width */
    width: 70%; /* Set the desired width, e.g., 80% of the parent width */
    margin: auto !important; /* Center the separator horizontally */
    margin-top: 10px !important;
    border-top: 1px solid #555555; /* Grey border as separator */
}

/* Results Message - eg update payments results */
.buddyc-admin-results-message {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    display: inline-block;
}