/* General style classes */
.opacity-0 {
    opacity: 0;
}

/* Profile extensions */
.buddyc-files-cancel-container {
    max-width: 650px;
    margin: auto; 
}
.buddyc-files-cancel {
    color: red;
}

/* General icons */
.buddyc-icon {
    font-size: 20px;
}
.buddyc-icon.buddyc-icon-color-blue {
    color: blue;
}
.buddyc-icon.buddyc-icon-color-black {
    color: black;
}
.buddyc-icon.buddyc-icon-color-green {
    color: green;
}
.buddyc-icon.buddyc-icon-color-red {
    color: red;
}
.buddyc-icon.buddyc-icon-color-gray {
    color: gray;
}
.buddyc-icon.bb-icon-class {
    font-size: 20px;
}
.buddyc-icon.fa-icon-class {
    font-size: 16px;
}

/* Subnav */
.buddyc-subnav {
    margin-right: 20px;
}
/* Copy Paste Field */
.bb-icon-copy {
    font-size: 22px;
}
.bb-icon-copy:hover {
    color: gray;
    cursor: pointer;
}
.buddyc-copy-success {
    font-size: 14px;
    font-weight: 500;
    margin: 10px
}
.buddyc-copy-reference {
    display: none;
}
.buddyc-copy-input {
    max-width: 100%;
}
/* Archive */
.archive-title-container {
    margin-top: 30px;
}
.buddyc-archive-container {
    margin: 10px;
    max-width: 1400px;
    padding: 0 10px;
}
/* Single post */
.buddyc-single-post {
    margin: 10px;
    max-width: 1200px;
    padding: 0 10px;
}
/* Signature field */
#signature-clear-button {
    max-width: 150px;
    padding: 5px;
    background-color: #fafbfd;
    color: var(--buddyclients-tertiary-color);
    border-color: var(--buddyclients-tertiary-color);
    font-size: 12px;
}

/* Description Checkbox */
.buddyc_description_checkbox + label {
    color: gray;
    font-size: 15px;
}

/* No Margin */
.margin-free {
    margin: 0 !important;
}
/* Hide Group Admin Menu Items */
#group-settings-groups-li,
#manage-members-groups-li,
#delete-group-groups-li {
    display: none;
}

/* On-Screen Notification Edge Color */
.bb-onscreen-notification-enable .bb-onscreen-notification .notification-list .read-item.recent-item:before {
    background: var(--buddyclients-accent-color);
}

/* Forms */
.buddyc-form .description {
    color: #8F9091;
    font-size: 14px;
    margin-bottom: 10px;
}

.buddyc-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: auto;
}

.buddyc-form {
    width: 100%;
}

.buddyc-form input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.buddyc-form legend {
    color: var(--buddyclients-primary-color);
    font-size: 18px;
}

.buddyc-form fieldset {
    border: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.no-team-available {
    font-size: 14px;
    color: gray;
}

/* Hide default checkbox */
.buddyc-form input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.buddyc-form .form-group {
    padding: 15px 0;
}

.buddyc-form textarea,
.buddyc-form .form-group input,
.buddyc-form .form-group select {
    width: 100%;
}

.buddyc-form.buddyc-table-form .form-group {
    padding: 3px;
}


/* User profile */
.buddyc-form-user-profile {
    display: flex;
    align-items: center;
    border-bottom: var(--buddyclients-default-border);
    padding: 20px;
    max-width: 500px;
}

.buddyc-form-user-avatar {
    margin-right: 10px;
    margin-left: 20px;
}

.buddyc-form-user-name {
    font-weight: bold;
    color: var(--buddyclients-primary-color);
}

/* File upload */
.manuscript-upload {
    max-width: 600px;
}

/* Global */
.display-none {
    display: none;
}
.max-650 {
    max-width: 650px;
    margin: auto;
}

/* Block Quote */
.wp-block-quote {
    background-color: #ffffff !important;
    border: var(--buddyclients-default-border);
}
.wp-block-quote:before {
    background-color: var(--buddyclients-accent-color) !important;
}

/* ALERT BAR */
.custom-alert-bar {
    background-color: var(--buddyclients-primary-color);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.custom-alert-bar a {
    color: #ffffff;
    text-decoration: underline;
}

.custom-alert-bar a:hover {
    color: #e7e9ec;
}
.alert-message-icon {
    font-size: 20px;
}