.buddyc-single-testimonial {
    margin: 50px auto 10px;
    max-width: 800px;
}
/* Single Testimonial Page */
.more-testimonials-button {
    color: var(--buddyclients-tertiary-color);
    border: solid 1.5px var(--buddyclients-tertiary-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.more-testimonials-button:hover {
    color: var(--buddyclients-tertiary-color);
    border-color: var(--buddyclients-tertiary-color);
}
.more-testimonials-button-container {
    margin: 40px 0;
}
.testimonial-author {
    padding-bottom: 20px;
    text-align: center;
}