/* Single Brief Post */
.bc-single-brief {
    margin-top: 10px;
}

.bc-single-brief-breadcrumbs {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .bc-single-brief-content {
        max-width: 650px;
        margin: auto;
    }
}

.single-brief-field {
    margin: auto;
    background-color: #ffffff;
    border: var(--buddyclients-default-border);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
}

/* Single Brief */
.project-services-title, .project-brief-title {
    margin-bottom: 40px; /* Adjust as needed */
}
.project-brief-container textarea {
    border-radius: 10px;
}
.brief-form-section-header {
    border-bottom: var(--buddyclients-default-border);
    border-top: var(--buddyclients-default-border);
    padding: 15px 0;
    margin: 25px 0;
}
.bc-brief-links {
    margin: 30px auto;
}
.bc-back-to-briefs-link:hover {
    color: var(--buddyclients-tertiary-color);
}
.show-hide-brief-btn {
    color: var(--buddyclients-primary-color);
    border: solid 1.5px var(--buddyclients-primary-color);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}
.show-hide-brief-btn:hover {
    color: var(--buddyclients-tertiary-color);
    border-color: var(--buddyclients-tertiary-color);
}