.bc-profile-availability {
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    border: solid 1px #e7e9ec;
    margin: 30px auto 60px;
}

.bc-profile-availability p {
    text-align: center;
    vertical-align: middle;
    margin: 30px;
}